Lab2/Debug
Lab2/settings
Lab3/Debug
Lab3/settings
blinky/Debug
blinky/settings
Lab1/Debug
Lab1/settings
Lab4/Debug
Lab4/settings
blinky/*.dep
Lab1/*.dep
Lab2/*.dep
Lab3/*.dep
settings/*.wsdt
Projeto_Final/CMSIS-5.6.0
Projeto_Final/Debug
Projeto_Final/*.dep

